{% load static %}
{% load compress %}
{% load static %}

<!doctype html>{% load static from staticfiles %} {% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block head_title %}EventUp{% endblock head_title %}</title>
    <style>#loading {position: fixed;width: 100%;height: 100%;background: #fff url("{% static 'images/preload_web.gif' %}") no-repeat center;z-index: 99999;} html { scroll-behavior: smooth; }</style>
    <link rel="shortcut icon" href="{% static 'favicon_eventup.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Varela+Round"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    {% block css %}{% endblock css %}
</head>
<body onload="preloader()" style="min-height: 100%;">
    
<div id="loading" about="preloader"></div>

<nav class="tw-relative tw-px-4 tw-py-4 tw-flex tw-justify-between tw-items-center tw-bg-white tw-shadow-md tw-sticky tw-top-0 tw-z-50">
  <a class="tw-text-3xl tw-font-bold tw-leading-none" href="{% url 'event:event_list' %}">
    <img src="{% static 'images/web-logo-256.png' %}" alt="eventup-logo" class="tw-h-10">
  </a>
  <div class="lg:tw-hidden">
    <button class="navbar-burger tw-flex tw-items-center tw-text-green-700 tw-p-3">
      <svg class="tw-block tw-h-4 tw-w-4 tw-fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Mobile menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg>
    </button>
  </div>
  <ul class="tw-hidden tw-absolute tw-top-1/2 tw-left-1/2 tw-transform -tw-translate-y-1/2 -tw-translate-x-1/2 lg:tw-mx-auto lg:tw-flex lg:tw-items-center lg:tw-w-auto lg:tw-space-x-6">
    <li><a class="tw-text-sm tw-font-bold hover:tw-underline-offset-4 hover:tw-decoration-2 {% if request.session.head_name == 'home' %}tw-underline tw-decoration-2 tw-underline-offset-4 tw-font-bold tw-text-green-700{% endif %}" href="{% url 'home' %}">Home</a></li>
    <li class="tw-text-gray-300">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
      </svg>
    </li>
    <li><a class="tw-text-sm tw-font-bold hover:tw-underline-offset-4 hover:tw-decoration-2 {% if request.session.head_name == 'event' %}tw-underline tw-decoration-2 tw-underline-offset-4 tw-font-bold tw-text-green-700{% endif %}" href="{% url 'event:event_list' %}">Event</a></li>
    <li class="tw-text-gray-300">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
      </svg>
    </li>
    <!-- <li><a class="tw-text-sm tw-font-bold hover:tw-underline-offset-4 hover:tw-decoration-2 {% if request.session.head_name == 'news' %}tw-underline tw-decoration-2 tw-underline-offset-4 tw-font-bold tw-text-green-700{% endif %} " href="{% url 'home' %}">News</a></li>
    <li class="tw-text-gray-300">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
      </svg>
    </li> -->
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
        <li><a class="tw-text-sm tw-font-bold hover:tw-underline-offset-4 hover:tw-decoration-2  {% if request.session.head_name == 'manage_user' %}tw-underline tw-decoration-2 tw-underline-offset-4 tw-font-bold tw-text-green-700{% endif %} " href="{% url 'account:superuser' %}">Manage User</a></li>
        <li class="tw-text-gray-300">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
          </svg>
        </li>

        <!-- <li><a class="tw-text-sm tw-font-bold hover:tw-underline-offset-4 hover:tw-decoration-2 {% if request.session.head_name == 'generate_report' %}tw-underline tw-decoration-2 tw-underline-offset-4 tw-font-bold tw-text-green-700{% endif %} " href="{% url 'home' %}">Generate Report</a></li>
        <li class="tw-text-gray-300">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
          </svg>
        </li> -->
        {% elif user.is_staff %}
          <li><a class="tw-text-sm tw-font-bold hover:tw-underline-offset-4 hover:tw-decoration-2 {% if request.session.head_name == 'add_event' %}tw-underline tw-decoration-2 tw-underline-offset-4 tw-font-bold tw-text-green-700{% endif %}" href="{% url 'event:add_event' %}">Add Event</a></li>
          <li class="tw-text-gray-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
            </svg>
          </li> {% endif %}
        <li><a class="tw-text-sm tw-font-bold hover:tw-underline-offset-4 hover:tw-decoration-2 {% if request.session.head_name == 'profile' %}tw-underline tw-decoration-2 tw-underline-offset-4 tw-font-bold tw-text-green-700{% endif %} " href="{% url 'account:consolidated_view_all' %}">Manage Event</a></li>
        <li class="tw-text-gray-300">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
          </svg>
        </li>
        <li><a class="tw-text-sm tw-font-bold hover:tw-underline-offset-4 hover:tw-decoration-2 " href="{% url 'account:logout' %}">Logout</a></li>
      </ul>
      {% else %}
        <a class="tw-hidden lg:tw-inline-block lg:tw-ml-auto lg:tw-mr-3 tw-py-2 tw-px-6 tw-bg-gray-50 hover:tw-bg-gray-100 tw-text-sm tw-text-gray-900 tw-font-bold  tw-rounded-xl tw-transition duration-200 tw-no-underline" href="{% url 'account:login' %}">Sign In</a>
        <a class="tw-hidden lg:tw-inline-block tw-py-2 tw-px-6 tw-bg-green-700 hover:tw-bg-green-600 tw-text-sm tw-text-white tw-font-bold tw-rounded-xl tw-transition tw-duration-200 tw-no-underline" href="{% url 'account:signup' %}">Sign up</a>
      {% endif %}
</nav>
<div class="navbar-menu tw-relative tw-z-50 tw-hidden">
  <div class="navbar-backdrop tw-fixed tw-inset-0 tw-bg-gray-800 tw-opacity-25"></div>
  <nav class="tw-fixed tw-top-0 tw-left-0 tw-bottom-0 tw-flex tw-flex-col tw-w-5/6 tw-max-w-sm tw-py-6 tw-px-6 tw-bg-white tw-border-r tw-overflow-y-auto">
    <div class="tw-flex tw-items-center tw-mb-8">
      <a class="tw-mr-auto tw-text-3xl tw-font-bold tw-leading-none" href="#">
        <img src="{% static 'images/web-logo-256.png' %}" alt="logo" class="tw-h-10">
      </a>
      <button class="navbar-close">
        <svg class="tw-h-6 tw-w-6 tw-text-gray-400 tw-cursor-pointer hover:tw-text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <div>
      <ul>

        <li class="tw-mb-1">
          <a class="tw-block tw-p-4 tw-text-sm tw-font-semibold hover:tw-bg-green-50 hover:tw-text-green-700 hover:tw-no-underline tw-rounded {% if request.session.head_name == 'home' %}tw-underline tw-decoration-2 tw-underline-offset-4 tw-font-bold tw-text-green-700{% endif %}" href="{% url 'home' %}">Home</a>
        </li>
        <li class="tw-mb-1">
          <a class="tw-block tw-p-4 tw-text-sm tw-font-semibold hover:tw-bg-green-50 hover:tw-text-green-700 hover:tw-no-underline tw-rounded {% if request.session.head_name == 'event' %}tw-underline tw-decoration-2 tw-underline-offset-4 tw-font-bold tw-text-green-700{% endif %}" href="{% url 'event:event_list' %}">Event</a>
        </li>
        <li class="tw-mb-1">
          <a class="tw-block tw-p-4 tw-text-sm tw-font-semibold hover:tw-bg-green-50 hover:tw-text-green-700 hover:tw-no-underline tw-rounded {% if request.session.head_name == 'news' %}tw-underline tw-decoration-2 tw-underline-offset-4 tw-font-bold tw-text-green-700{% endif %}" href="{% url 'home' %}">News</a>
        </li>
        {% if user.is_authenticated %}
          {% if user.is_superuser %}
            <li class="tw-mb-1">
              <a class="tw-block tw-p-4 tw-text-sm tw-font-semibold hover:tw-bg-green-50 hover:tw-text-green-700 hover:tw-no-underline tw-rounded {% if request.session.head_name == 'manage_user' %}tw-underline tw-decoration-2 tw-underline-offset-4 tw-font-bold tw-text-green-700{% endif %}" href="{% url 'account:superuser' %}">Manage User</a>
            </li>
            <li class="tw-mb-1">
              <a class="tw-block tw-p-4 tw-text-sm tw-font-semibold hover:tw-bg-green-50 hover:tw-text-green-700 hover:tw-no-underline tw-rounded {% if request.session.head_name == 'generate_report' %}tw-underline tw-decoration-2 tw-underline-offset-4 tw-font-bold tw-text-green-700{% endif %}" href="">Generate Report</a>
            </li>
          {% elif user.is_staff %}
            <li class="tw-mb-1">
              <a class="tw-block tw-p-4 tw-text-sm tw-font-semibold hover:tw-bg-green-50 hover:tw-text-green-700 hover:tw-no-underline tw-rounded {% if request.session.head_name == 'add_event' %}tw-underline tw-decoration-2 tw-underline-offset-4 tw-font-bold tw-text-green-700{% endif %}" href="{% url 'event:add_event' %}">Add Event</a>
            </li>
          {% endif %}
          <li class="tw-mb-1">
            <a class="tw-block tw-p-4 tw-text-sm tw-font-semibold hover:tw-bg-green-50 hover:tw-text-green-700 hover:tw-no-underline tw-rounded {% if request.session.head_name == 'profile' %}tw-underline tw-decoration-2 tw-underline-offset-4 tw-font-bold tw-text-green-700{% endif %}" href="{% url 'account:consolidated_view_all' %}">Consolidated View</a>
          </li>
          <li class="tw-mb-1">
            <a class="tw-block tw-p-4 tw-text-sm tw-font-semibold hover:tw-bg-green-50 hover:tw-text-green-700 hover:tw-no-underline tw-rounded" href="{% url 'account:logout' %}">Logout</a>
          </li>
          {% else %}
      </ul>
    </div>
    <div class="tw-mt-auto">
      <div class="tw-pt-6">
        <a class="tw-block tw-px-4 tw-py-3 tw-mb-3 tw-leading-loose tw-text-xs tw-text-center tw-font-semibold tw-bg-gray-50 hover:tw-bg-gray-100 hover:tw-no-underline tw-rounded-xl" href="{% url 'account:login' %}">Sign in</a>
        <a class="tw-block tw-px-4 tw-py-3 tw-mb-2 tw-leading-loose tw-text-xs tw-text-center tw-text-white tw-font-semibold tw-bg-green-600 hover:tw-bg-green-700 hover:tw-no-underline  tw-rounded-xl" href="{% url 'account:signup' %}">Sign Up</a>
      </div>
      {% endif %}
      <p class="tw-my-4 tw-text-xs tw-text-center tw-text-gray-400">
        <span>Copyright © 2023 Teenify Schola Solutia</span>
      </p>
    </div>
  </nav>
</div>
<!-- !! navbar end -->

<div>{% for m in messages %}
    <!-- Alert -->
    <div class="alert alert-dismissible fade show container fit-text mt-4 {% if m.tags == 'success' %}alert-success{% elif m.tags == 'warning' %}alert-warning{% elif m.tags == 'info' %}alert-info{% else %}alert-danger{% endif %}" role="alert">{{ m }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
    </div>{% endfor %}
    <!-- - - - - - - - - - START - - - - - - - - - - - -->{% block content %}{% endblock content %}<!-- - - - - - - - - - END - - - - - - - - - - - - -->
</div>
<!-- !!Footer start -->
<!-- <div style="background-color: rgb(112,112,112);width: 100%; margin-top: auto">
    <footer class="py-4 text-white container text-center">
        <hr style="border-top: 2px solid #ffffff">
        <span style="font-weight: 200;">Copyright &copy; 2023.<br>Made with love by Teenify Schola Solutia<br>part of Produk Kreatif Kewirausahaan SMKN 4 Bandung</span>
    </footer>
</div> -->
<!-- component -->

<footer class="relative tw-bg-white pt-8 pb-6">
  <div class="container mx-auto px-4">
    <!-- <div class="flex flex-wrap text-left lg:text-left">
      <div class="w-full lg:w-6/12 px-4">
        <h4 class="text-3xl fonat-semibold text-blueGray-700">Let's keep in touch!</h4>
        <h5 class="text-lg mt-0 mb-2 text-blueGray-600">
          Find us on instagram.
        </h5>
        <div class="mt-6 lg:mb-0 mb-6">
          <a href="https://www.instagram.com/teenify_schola/"><button class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
            <i class="fab fa-instagram"></i></button></a>
        </div>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full lg:w-4/12 px-4 ml-auto">
            <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">Menu</span>
            <ul class="list-unstyled">
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://www.creative-tim.com/presentation?ref=njs-profile">About Us</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://blog.creative-tim.com?ref=njs-profile">Blog</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://www.github.com/creativetimofficial?ref=njs-profile">Github</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://www.creative-tim.com/bootstrap-themes/free?ref=njs-profile">Free Products</a>
              </li>
            </ul>
          </div>
          <div class="w-full lg:w-4/12 px-4">
            <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">Other Resources</span>
            <ul class="list-unstyled">
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://github.com/creativetimofficial/notus-js/blob/main/LICENSE.md?ref=njs-profile">MIT License</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://creative-tim.com/terms?ref=njs-profile">Terms &amp; Conditions</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://creative-tim.com/privacy?ref=njs-profile">Privacy Policy</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://creative-tim.com/contact-us?ref=njs-profile">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->
    <hr class="my-6 border-blueGray-300">
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-blueGray-500 font-semibold py-1">
          Copyright © <span id="get-current-year">2023</span><br><span class="text-blueGray-500 hover:text-gray-800" target="_blank"> EventUp is part of Produk Kreatif Kewirausahaan SMKN 4 Bandung by
          <a href="https://www.creative-tim.com?ref=njs-profile" class="text-blueGray-500 hover:text-blueGray-800">Teenify Schola Solutia Team's XII RPL 2</a>.
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- !!footer end -->
<!-- Preloader Scripts -->
<script>
    function preloader() {
        document.getElementById('loading').style.display = 'none';
    }
</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="{% static 'js/search.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
{% block script %}{% endblock script %}
</body>
</html>
